In [1]:
import os
import pandas as pd #print('Versión numpy:', np.__version__)
import numpy as np #print('Versión pandas:', pd.__version__)

#### 1. Change file direction,

In [2]:
os. getcwd()

'D:\\Dennis\\11 Coding\\01 Data Science\\01 Curso Python Handytec Academy\\03 Tutoriales own'

In [3]:
os.chdir ('D:\\Dennis\\11 Coding\\01 Data Science\\Jupyter\\pandas-master')

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'D:\\Dennis\\11 Coding\\01 Data Science\\Jupyter\\pandas-master'

In [ ]:
os. getcwd()

#### 2. And as consequence read a new csv file in the new direction

In [ ]:
#df = pd.read_csv('pokemon_data.csv')
#print (df.head(5))a

#### 3. To open a specific folder/file in anaconda prompt try this :

In [ ]:
#To open a specific folder/file in anaconda prompt try this : jupyter notebook --notebook-dir="D:\Dennis\01 Cursos\08 Data science Python Handytec Academy\02 Materiales"

#### 4. See the direction of this notebook

In [ ]:
pwd

In [ ]:
#print('Filas:', df.shape[0]) cuantas filas hay
#print('Columnas:', df.shape[1]) cuantas columnas hay

## a. Filtrados
### 1. loc (Label) , iloc (location) and ix

In [ ]:
df = pd.Series (list("abcdef"),index=["tr","tt","ty","yu","tg","tp"])
df

In [ ]:
df.loc["tg"] #value at index label 0

In [ ]:
df.iloc[1] #value at index location 0

#### Also, df_seleccion = df.loc[:, ['sku', 'quantity', 'unit price', 'ext price','date']]
- Te selecciona todo para abajo y los siguiente encambezados

### Rows and Columns

In [ ]:
df2 = pd.DataFrame(np.arange(25).reshape(5, 5),  index=list('abcde'), columns=['x','y','z', 8, 9])
df2

In [ ]:
df2.loc["c":,:"z"]

In [ ]:
df2.iloc[[0,2,3], [1,3]]  #rows and columns different

In [ ]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', np.NAN, 'yellow', np.NAN, 'black', 'green', 'red']
})
data

In [ ]:
data[['age','section']]

In [ ]:
data.loc[(data.age >= 12) & (data.gender == 'M')] #all rows with more than one condition

In [ ]:
data.loc[(data.age >= 12), ['city', 'gender']] #columns with a condition

In [ ]:
data.loc[(data.age >= 12), ['section']] = 'New' # update a column with condition ***HACK****
data

In [ ]:
data.loc[(data.age >= 20) , ['section', 'city']] = ['S','Pune'] ## update multiple columns with condition ***REVIEW*
data

In [ ]:
(data.age >= 12) & (data.gender == 'M') #si quieres TRUE oR FALSE

In [ ]:
filter_list = ["red","yellow","black"]
data[data.favourite_color.isin(filter_list)] ##FAST METHOD to FILTER

## New exercise CHIPOTLE

In [8]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle = pd.read_csv(url,'\t')
chipotle.head (10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
#item_quants = chipotle.groupby (['item_name']).agg({'quantity':'sum'}) 
#item_quants.sort_values('quantity',ascending = False).head(3) #which is the most - ordered item --more easy -- *#item_quants['quantity'].idxmax()*****

In [14]:
chipotle.info

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [11]:
#Turn item price into a float 
chipotle.item_price.str.slice(1).astype(float).head(3)

0    2.39
1    3.39
2    3.39
Name: item_price, dtype: float64

In [18]:
chipotle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [21]:
chipotle.item_price.value_counts().nlargest(20)

$8.75      730
$11.25     521
$9.25      398
$4.45      349
$8.49      311
$11.75     284
$1.25      264
$8.99      246
$2.15      192
$2.95      174
$1.50      117
$1.09      106
$2.39      100
$1.69       99
$10.98      99
$3.99       98
$6.49       53
$11.48      51
$3.39       45
$17.50      40
Name: item_price, dtype: int64

In [20]:
chipotle['item_name'].max() #https://www.youtube.com/watch?v=lpuYZ5EUyS8

'Veggie Soft Tacos'

In [8]:
chipotle.index

RangeIndex(start=0, stop=4622, step=1)